textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

@import url("pygment_highlights.css");

@font-face {
  font-family: 'Fira';
  src: url('https://mech-lang.org/fonts/FiraMono-Regular.ttf');
}
/* --- General --- */

body {
  font-family: 'Open Sans', 'Times New Roman', serif;
  font-size: 16px;
  color: #404040;
  position: relative;
  background: #FFF;
  font-variant-ligatures: normal;
  line-height: 30px;
  padding:0px;
  margin:0px;
  background-color: rgb(250,250,250);
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: rgb(91, 34, 127);
}

.nav a {
  text-decoration: none;
}

input {
  width: 245px;
}

p {
  text-align: justify;
}

li a {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: rgb(91, 34, 127);
}
a:hover,
a:focus {
  color: rgb(91, 34, 127);
}

.code {
  padding: 10px;
  background-color: rgb(16, 2, 24);
  font-family: 'Fira';
  color: rgb(250,250,250);
}

.navbar {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 100%;
  flex-grow: 1;
}

.navbar-header {
  text-align: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

#main-navbar li {
  list-style-type: none;
  padding-left: 50px;
  font-family: 'Fira';
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  #main-navbar li {
    padding: 0px;
    flex-grow: 1;
  }
}

.navbar-nav:first-child { 
  padding-left: 0px;
}


#main-navbar li a:hover {
  color: rgb(91, 34, 127);
}

.container {
  max-width: 750px;
  padding:20px;
  margin: auto;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 60%;
}

.logo-nav {
  margin: auto;
  width: 150px;
}

.post-meta {
  color: rgb(0,121,177);
  font-weight: bold;
}

.well {
  font-family: 'Fira';
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 90px;
  text-align: left;
}

.black-bar {
  width: 100%;
  height: 5px;
  background-color: #000;
}


.nav a {
  color: #404040;
}

.nav-active  a {
  color: rgb(91, 34, 127);
}

.post-title {
  color: rgb(91, 34, 127);
}

p img {
  display: block;
  margin: auto;
  width: 50%;
}

p a {
  text-decoration: underline;
}

.footnote {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}

button {
  font-size: 11px;
  background-color:  rgb(109, 42, 151);
  color: white;
  padding: 8px;
  border: 3px #000 solid;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Fira';
  user-select: none;
  cursor: pointer;
}

button:hover {
  background-color:  rgb(153, 71, 204);
}

.slider {
  flex-grow: 1;
  height: 10px;
  -webkit-appearance: none;
  background: #d3d3d3;
}

.time-travel {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.arm-control {
  width: 250px;
}